.graphMain{
    height: 100%;
    background-color: white ;
    width:100%;
}
.scroll {
    width:100% !important;
    height: 10%;
    display: block;
}
.graph{
    width:100% !important;
    height: 90%;
    display: block;
}
.graphArea{
    width:90% !important;
    margin:0 5%;
    height: 56%;
}
.textAxisX {
    font-family: serif;
    fill-opacity: 0.8;
    fill: gray;
}
.textAxisY{
    font-family: serif;
    fill-opacity: 0.8;
    fill: gray;
}
.buttons{
    height: 20%;
    width:90% !important;
    margin:0 5%;
}
.graphTitle{
    width:90% !important;
    height: 8%;
    font-size:4.8vh;
    padding-top:2vh;
    margin: 0 5% 2% 5%;
    padding: 0;
}
.roller{
    fill-opacity: 0.4;
    fill: gray;
    display: block;
    height: 10%;
    width:100% !important;
}
.back{
    width:100% !important;
    height: 10%;
    fill-opacity: 0.1;
    fill: white;
    display: block;
}
.changeBuffer{
    width:100% !important;
    height: 10%;
    fill-opacity: 0.7;
    fill: gray;
    display: block;
}
.axisY{
    width:100% !important;
    height: 56% !important;
    stroke:gray;
    stroke-opacity: 0.5;
    display: block;
}
.switchButton{
    border:2px solid;
    border-radius: 50%;
    margin:2px 0 1px 5%;
    outline: 0 !important;
    font-size:10px;
    width:20px;
    height: 20px;
}
.switch{
    border:1px solid gray;
    border-radius: 30px;
    height: 25px;
    width: 35%;
    margin: 2% 7% 0 0;
    display: inline-block;
}
.switch>span{
    margin:auto;
}
.switchButton[value="true"]{
    border-color: green;
    background-color: green;
    color: aliceblue!important;
}
.switchButton[value="false"]{
    border-color: red;
    background-color: transparent;
    color: transparent!important;
}
.night{
    background-color: #282e33;
    color:white;
}
.day{
    background-color: white;
    color:black;
}
.themeButton{
    display: block;
    height: 6vh;
    width:50vh;
    font-size: 5vh;
    margin:1.5% auto 0.5% auto;
}